streamlit>=1.30.0
streamlit-authenticator
PyYAML
groq
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-docx
docx2txt
openpyxl
beautifulsoup4
pandas
unstructured
msoffcrypto-tool
google-generativeai
torch
torchvision
