streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
pypdf
python-docx
docx2txt
openpyxl
sentence-transformers
beautifulsoup4
pandas
unstructured
msoffcrypto-tool
google-generativeai
pandas
pypdf
python-docx
openpyxl
beautifulsoup4
